body, html {
   height: 100%;
   font-family: 'Roboto', sans-serif;
   background-image: url("../img/wallpaper.jpg");

  /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
/*Css da área de login*/
:root {
    --input-padding-x: 1.4rem;
    --input-padding-y: .70rem;
  }  

  .card{
    background: black;
    box-shadow: 2px 2px 15px black;  
    background-color: rgba(0,0,0,.8);
  }

  .card-signin {
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }

  .form-check{
      margin-left: 10px;
      margin-bottom: 15px;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 0.8rem;
  }
  /*Efeito dos campos de input*/
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 10px;
    color: #777;
  }
  /*Fim do efeito dos inputs*/

  .btn-cadastro{
    color: white;
    text-transform: uppercase;
    background-color: cornflowerblue;
    border-radius: 0.8rem;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
  }
  .btn-cadastro:hover{
    color: white;
    text-transform: uppercase;
    background-color: #2c6fff;
  } 

  .btn-login:hover{
    background: #ed8200;
    transition: 0.6s;
    border-color: #ed8200; 
  }

  .btn-login{
    font-size: 12px;
    border-radius: 0.8rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s;
    border-color: #ed8200; 
  }

  #btn-login-reset:hover{
    background: #ed8200;
    transition: 0.6s;
    border-color: #ed8200; 
  }

  #btn-login-reset{
    font-size: 13px;
    border-radius: 0.8rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s;
    border-color: #ed8200; 
  }